.wrapper {
  perspective: 1000px;
  margin: 0 auto 0 1em;
  width: 37em;
}

.wrapperAlt {
  perspective: 1000px;
  margin: 0 1em auto 0;
  width: 26em;
}

.wrapper:hover .inner {
  transform: rotate(0)
}

.wrapperAlt:hover .innerAlt {
  transform: rotate(0)
}

.inner {
  transition: .3s;
  transform: rotateY(20deg);
}

.innerAlt {
  transition: .3s;
  transform: rotateY(-20deg);
}