.wrapper {
  perspective: 1000px;
  margin: 4em auto 0 1em;
  width: 37em;
}

.wrapperAlt {
  perspective: 1000px;
  margin: 0 1em auto 0;
  width: 26em;
}

.wrapper:hover .inner {
  transform: rotate(0)
}

.wrapperAlt:hover .innerAlt {
  transform: rotate(0)
}

.inner {
  transition: .3s;
  transform: rotateY(30deg);
}

.innerAlt {
  transition: .3s;
  transform: rotateY(-30deg);
}

.card {
  background: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: flex;
  flex-direction: row;
  /* border-radius: 25px; */
  position: relative;
}

.card h2 {
  margin: 0;
  padding: 0 1rem;
}

.card .title {
  padding: 1rem;
  text-align: right;
  color: orange;
  font-weight: bold;
  font-size: 12px;
}

.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}

.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}

.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.imgAvatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, orange 0%, purple 100%);
  top: 15px;
  left: 85px;
}

.cardText {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.titleTotal {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

.path {
  fill: white;
}

.imgPortada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg"); */
  background-image: linear-gradient(-60deg, purple 0%, orange 100%);
  background-position: bottom center;
  background-size: cover;
}

.button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition: .5s;
}

.button:hover {
  color: #4CAF50;
  transform: rotate(22deg)
}